* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
}

nav {  
    height: 50px;
    background-color: #212121;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu_link {
    height: 14px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 42px;
}

.subheader {
    position: absolute;
    width: 100%; 
    height: 84px;
    background-color:rgba(0,0,0,.6);
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_official {
    margin-top: 6px;
    opacity: 0.5;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
}

.subheader .subheader_call {
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    margin-top: 19px;
    text-align: right;
}

.subheader .subheader_phone {
    display: block;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-align: right;
    text-transform: uppercase;
    margin-top: 8px;
    line-height: 12px;
}

.subheader .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase; 
}

.promo {
    min-height: 799px;
    background: url('/src/img/Header_background.jpg') center center/cover no-repeat;
padding: 150px 0 135px 0;
}

.promo .promo_header {
    margin: 0;
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    line-height: 60px;
}

.promo .promo_subheader {
    margin: 20px 0 0 0;
    font-weight: 700;
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    line-height: 36px;

}

.promo .promo_descr {
    margin-top: 23px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 24px;
}

.promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
}

.reasons {
    display: block;
    margin: 0 auto;
    width: 1140px;
    height: 5250px;
    background-color: #fff;
}

.reasons h2 {
    display: block;
    margin: 0 auto ;
    margin-top: 71px;
    width: 112px;
    height: 24px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    line-height: 24px;
}

.title {
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    margin-top: 38px;
}

.reasons .reasons_item_ring {
    display: flex; 
    align-items: center; 
    justify-content: center;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
}

.reasons .reasons_item_first, .reasons_item_second {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.reasons .reasons_item_descr {
    width: 341px;
    height: 141px;
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 21px;
    text-align: left;

}

.reasons .reasons_item_descr span {
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}